{% extends 'base.html' %} {% block title %}
<h1>{{ title }}: Home Page</h1>
<p>
  Brace is about a game that involves an impending countdown timer and the
  player is trying to stay alive by avoiding the enemy obstacles (stress). Along
  the way, there will be support obstacles (affirmation) that will increase the
  timer!
</p>
<p>
  If the timer hits zero or the player is struck by stress, then the game is
  over.
</p>
<p>High scores are listed below.</p>

<h2>High Scores</h2>
<p class="note">Number of seconds the player stayed alive</p>
{% endblock %} {% block content %} {% for score in json_data %}
<li>{{ score }}</li>
{% endfor %} {% endblock %}
